DRIVE_FOLDER_ID=1nNtCyrJ0uWSMmQwcOMhr6eYDV6vmVmRn
DRIVE_ROOT_NAME=GaNeshGallary Drive
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=16121317006-jn7md7g3n8pg5gqa9nt7jmp58qh05hqh.apps.googleusercontent.com
GOOGLE_UPLOAD_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
